.flex {
  display: flex;
}
.flex > * {
  flex: 1;
}
.flex-responsive {
  flex-direction: row;
  container-type: inline-size;
}

@media (min-width: 768px) {
  @container (max-width: 768px) {
    .flex-responsive {
      flex-direction: column;
    }
  }
}
@media (max-width: 768px) {
  .flex-responsive {
    flex-direction: column;
  }
}

.flex-row {
  flex-direction: row;
}
.flex-row.align-horizontal-left {
  justify-items: flex-start;
}
.flex-row.align-horizontal-right {
  justify-items: flex-end;
}
.flex-row.align-horizontal-center {
  justify-items: center;
}
.flex-row.align-vertical-top {
  align-content: flex-start;
}
.flex-row.align-vertical-bottom {
  align-content: flex-end;
}
.flex-row.align-vertical-center {
  align-content: center;
}

.flex-col {
  flex-direction: column;
}
.flex-col.align-vertical-bottom {
  justify-items: flex-start;
}
.flex-col.align-vertical-top {
  justify-items: flex-end;
}
.flex-col.align-vertical-center {
  justify-items: center;
}
.flex-col.align-horizontal-left {
  align-content: flex-start;
}
.flex-col.align-horizontal-right {
  align-content: flex-end;
}
.flex-col.align-horizontal-center {
  align-content: center;
}

.gap-0 {
  gap: 0;
}
.gap-4 {
  gap: 4px;
}
.gap-8 {
  gap: 8px;
}
.gap-12 {
  gap: 12px;
}
.gap-16 {
  gap: 16px;
}
.gap-20 {
  gap: 20px;
}
.flex-wrap {
  flex-wrap: wrap;
}
